<nav class="navbar navbar-expand-lg navbar-light" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" href="/">
        <div class="brand"></div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-ul navbar-nav mr-auto" >
            <li class="nav-item" th:each="nav : ${navItems}">
                <a class="nav-link mx-2" th:href="${nav.getKey()}" th:text="${nav.getValue()}"/>
            </li>
        </ul>
        <div th:if="${isLogged}">
            <h5 class="form-inline mx-2 my-lg-0">
                Hello, [[${#httpServletRequest.remoteUser}]]!
            </h5>
        </div>
        <div th:if="${isLogged}">
            <form th:replace="/fragments/logout :: loginout"/>
        </div>
        <div th:if="${!isLogged}">
            <a href="/login">Registration</a>
            <a class="btn btn-sm btn-success" href="/login">Sing In</a>
        </div>
    </div>
</nav>