<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" href="#">My-Day</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" th:each="nav : ${navItems}">
            <li class="nav-item">
                <a class="nav-link" th:href="${nav.getKey()}" th:text="${nav.getValue()}"/>
            </li>
        </ul>
        <h5 class="form-inline mx-2 my-lg-0">
            Hello, [[${#httpServletRequest.remoteUser}]]!
        </h5>
        <div th:if="${isLogged}">
            <form th:replace="/fragments/logout :: loginout"/>
        </div>
        <div th:if="${!isLogged}">
            <a class="nav-link active" href="/registration">Sing In</a>
        </div>
    </div>
</nav>