/*-----------------------------------------NavBar------------------------------------------*/

.navbar {
    background: -moz-linear-gradient(top, rgba(95,51,0,0.45) 0%, rgba(0,21,37,0.45) 100%);
    background: -webkit-linear-gradient(top, rgba(95,51,0,0.45) 0%,rgba(0,21,37,0.45) 100%);
    background: linear-gradient(to bottom, rgba(95,51,0,0.45) 0%,rgba(0,21,37,0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#735f3300', endColorstr='#73001525',GradientType=0 );
}

.brand {
    background: url("../img/logo/main-logo(182x50).png") center no-repeat;
    height: 50px;
    width: 182px;
}

.nav-item {
    margin-right: 4px !important;
}

.nav-item:last-child {
    margin-right: auto;
}

.nav-link {
    color: #d88f00 !important;
    font-family: "Play";
    font-weight: 600;
    letter-spacing: 1px;
    text-shadow: 0px -2px 1px rgba(0,0,0,0.6);
    transition: ease 0.5s;
}

.nav-link:hover {
    color: #00e3ee !important;
}

.user-name {
    color: firebrick;
    text-shadow: 0px -2px 1px rgba(70, 0, 0, 0.6);
}

.logout-btn {
    border: 1px solid #f8f9fa80;
    color: beige;
}

.logout-btn:hover {
    background-color: #f9383842;
    border: 1px solid #01ffe869;
    color: #01e6e6;
}

.navbar-menu-icon {
    background-color: #ff820163;
    border: 1px solid #ff990159;
    outline: none !important;
}


/*------------------------------------------Logo------------------------------------------*/

.main-logo {
    background: url("../img/logo/main-logo(272x78).png") center no-repeat;
    margin: 50px auto auto;
    height: 78px;
    width: 272px;
}

.logo-reg-form {
    background: url("../img/logo/reg-log-form(570x120).png") no-repeat;
    display: flex;
    margin: 150px auto auto;
    max-width: 570px;
}

.login-form, .reg-form {
    margin-left: 4px;
    padding-top: 44px;
}

.reg-form {
    padding-left: 145px;
}


/*----------------------------- Login Form Inputs -------------------------------*/
.username-input, .pass-input, .username-reg-input, .pass-reg-input, .repeat-reg-input {
    border: none;
    color: #00e3ee;
    font-family: "Play";
    letter-spacing: 1px;
    margin-bottom: 3px;
    padding-left: 35px;
    height: 31px;
    width: 206px;
}

.username-input::placeholder, .pass-input::placeholder, .username-reg-input::placeholder, .pass-reg-input::placeholder, .repeat-reg-input::placeholder {
    color: #4d3e00;
    font-family: "Play";
    font-size: 14px;
    letter-spacing: 1px;
    vertical-align: center;
}

.username-reg-input, .pass-reg-input, .repeat-reg-input {
    border: none;
    margin-bottom: 3px;
    width: 208px;
}

.username-input, .username-reg-input {
    background: url("../img/logo/logo-reg-input-bg(206x31).png") center no-repeat;
}

@-webkit-keyframes autofillUserName {
    to {
        color: #00e3ee;
        font-family: "Play";
        background: url("../img/logo/logo-reg-input-bg(206x31).png");
        letter-spacing: 1px;
    }
}

.username-input:-webkit-autofill, .username-reg-input:-webkit-autofill {
    -webkit-animation-name: autofillUserName;
    -webkit-animation-fill-mode: both;
}

@-webkit-keyframes autofillPass {
    to {
        color: #00e3ee;
        font-family: "Play";
        background: url("../img/logo/pass-reg-input-bg(206x31).png");
        letter-spacing: 1px;
    }
}

.pass-input:-webkit-autofill, .pass-reg-input:-webkit-autofill, .repeat-reg-input:-webkit-autofill {
    -webkit-animation-name: autofillPass;
    -webkit-animation-fill-mode: both;
}

.pass-input, .pass-reg-input, .repeat-reg-input {
    background: url("../img/logo/pass-reg-input-bg(206x31).png") center no-repeat;
}


/*-------------------------Reg Btn-----------------------*/
.reg-btn {
    float: right;
}


/*---------------------------------------- Main Page -----------------------------------------------*/
.card {
    background: none;
}

.card-body {
    background: rgba(44, 121, 107, 0.38);
}


/*------------------------------------- All products / Add product ------------------------------------------------*/
.all-products-title, .add-product-title {
    background-color: #ff83031c;
    box-shadow: 1px 0px 5px black;
    color: wheat;
    font-family: "Play";
    font-size: 30px;
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    text-shadow: 0px 1px 2px black;
}

.all-products-tr {
    background-color: #00ffff96;
    color: #e9fffd;
    text-shadow: #343a40 1px 0px, #343a40 1px 1px, #343a40 0px 1px
               , #343a40 -1px 1px, #343a40 -1px 0px, #0c5460 -1px -1px
               , #0c5460 0px -1px, #0c5460 1px -1px, #0c5460 0 0 3px
               , #0c5460 0 0 3px, #0c5460 0 0 3px, #0c5460 0 0 3px
               , #0c5460 0 0 3px, #0c5460 0 0 3px, #0c5460 0 0 3px, #0c5460 0 0 3px;
}

.all-products-tb-tr {
    background-color: #46000045;
    border-bottom: 1px solid;
    color: burlywood;
    font-weight: 700;
}

.table td, .table th {
    border-top: none !important;
}

.all-products-dropdown-btn {
    background-color: #650250bf;
    box-shadow: none !important;
    color: burlywood;
    font-weight: 500;
}

.all-products-dropdown-btn:hover {
    background-color: #51026587;
    color: burlywood;
    font-weight: 500;
}

.all-products-dropdown-btn:not(:disabled):not(.disabled):active:focus,
.show>.all-products-dropdown-btn:focus {
    background-color: #51026587;
    box-shadow: none !important;
    color: burlywood;
    font-weight: 500;
}

.all-products-dropdown {
    background-color: #89deffb0;
}


/*--------------------------------------- Add product -----------------------------------------------*/
.add-product-form {
    background-color: #0c546045;
    padding: 20px;
}

.add-product-col {
    min-width: 150px;
}

.add-product-col>.invalid-feedback {
    font-family: "Play";
    font-size: 14px;
    text-shadow: 0px 1px 1px black;
}


/*---------------------------------------- @media ---------------------------------------------------*/

@media(max-width: 1900px) {
    .login-background {
        background: url("../img/logo/logo-bg(1900).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 1600px) {
    .login-background {
        background: url("../img/logo/logo-bg(1600).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 1440px) {
    .login-background {
        background: url("../img/logo/logo-bg(1440).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 1230px) {
    .login-background {
        background: url("../img/logo/logo-bg(1230).jpg") no-repeat fixed center;
        background-size: cover;
    }

    .main-page-body {
        background: url("../img/logo/main-page-bg(1230).jpg") no-repeat fixed center;
        background-size: cover;
    }

    .all-products-bg, .add-product-bg {
        background: url("../img/bg/all-products-bg(1230x700).jpg") no-repeat fixed center;
    }
}

@media(max-width: 1136px) {
    .login-background {
        background: url("../img/logo/logo-bg(1136).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 1000px) {
    /*.login-background {
        background: url("../img/logo/logo-bg(1000).jpg") no-repeat fixed center;
        background-size: cover;
    }*/

    .all-products-bg, .add-product-bg {
        background: url("../img/bg/all-products-bg(1000x700).jpg") no-repeat fixed center;
    }
}

/*@media(max-width: 768px) {
    .login-background {
        background: url("../img/logo/logo-bg(768).jpg") no-repeat fixed center;
        background-size: cover;
    }
}


@media(max-width: 640px) {
    .login-background {
        background: url("../img/logo/logo-bg(640).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 576px) {
    .login-background {
        background: url("../img/logo/logo-bg(576).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 320px) {
    .login-background {
        background: url("../img/logo/logo-bg(320).jpg") no-repeat fixed center;
        background-size: cover;
    }
}*/
