.logo-reg-form {
    background: url("../img/logo/reg-log-form(570x120).png") no-repeat;
    display: flex;
    margin: auto;
    max-width: 570px;
}

.login-form, .reg-form {
    margin-left: 4px;
    padding-top: 44px;
}

.reg-form {
    padding-left: 145px;
}

.username-input, .pass-input {
    border: none;
    margin-bottom: 3px;
    height: 31px;
    width: 206px;
}

.username-reg-input, .pass-reg-input, .repeat-reg-input {
    border: none;
    margin-bottom: 3px;
    width: 208px;
}

.username-input, .username-reg-input {
    background: url("../img/logo/logo-reg-input-bg(206x31).png") center no-repeat;
}




/*---------------------------------------- @media ---------------------------------------------------*/

@media(max-width: 1900px) {
    .login-background {
        background: url("../img/logo/logo-bg(1900).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 1600px) {
    .login-background {
        background: url("../img/logo/logo-bg(1600).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 1440px) {
    .login-background {
        background: url("../img/logo/logo-bg(1440).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 1200px) {
    .login-background {
        background: url("../img/logo/logo-bg(1200).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 1000px) {
    .login-background {
        background: url("../img/logo/logo-bg(1000).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 768px) {
    .login-background {
        background: url("../img/logo/logo-bg(768).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 576px) {
    .login-background {
        background: url("../img/logo/logo-bg(576).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 640px) {
    .login-background {
        background: url("../img/logo/logo-bg(640).jpg") no-repeat fixed center;
        background-size: cover;
    }
}

@media(max-width: 320px) {
    .login-background {
        background: url("../img/logo/logo-bg(320).jpg") no-repeat fixed center;
        background-size: cover;
    }
}