<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: head"/>
    <body class="add-product-bg">
        <nav th:replace="/fragments/navbar :: navbar"/>

        <!-- Modal -->
        <div class="modal-add-product modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <p class="modal-content-p"/>
                </div>
            </div>
        </div>

        <div class="add-product-title">
            <p class="title">
                Add product
            </p>
        </div>

        <div class="container">
            <form class="add-product-form was-validated" method="post" th:action="@{/add_product}">
                <div class="form-row">
                    <div class="add-product-col col-md-2 mb-3">
                        <input name="productName" type="text" class="form-control" id="validationCustom01" placeholder="Product name" required>
                        <div class="invalid-feedback">
                            Please, entry is correct product name!
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="add-product-col col-md-2 mb-3">
                        <input name="priceS" type="text" class="form-control" placeholder="Price S">
                    </div>
                    <div class="add-product-col col-md-2 mb-3">
                        <input name="priceM" type="text" class="form-control" placeholder="Price M">
                    </div>
                    <div class="add-product-col col-md-2 mb-3">
                        <input name="priceL" type="text" class="form-control" placeholder="Price L">
                    </div>
                </div>
                <div class="form-row">
                    <div class="add-product-col col-md-2 mb-3">
                        <input name="weightS" type="text" class="form-control" placeholder="Weight S">
                    </div>
                    <div class="add-product-col col-md-2 mb-3">
                        <input name="weightM" type="text" class="form-control" placeholder="Weight M">
                    </div>
                    <div class="add-product-col col-md-2 mb-3">
                        <input name="weightL" type="text" class="form-control" placeholder="Weight L">
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="add-product-col col-md-4 mb-3">
                        <textarea name="description" type="text" class="form-control" placeholder="Description" required></textarea>
                        <div class="invalid-feedback">
                            Please,write a description!
                        </div>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="add-product-col col-md-4 mb-3">
                        <label class="add-product-label" for="exampleFormControlSelect1">Select a category!</label>
                        <select name="category" class="form-control" id="exampleFormControlSelect1" th:each="category : ${categoryList}">
                            <option>Choice...</option>
                            <option th:text="${category.getCategory()}"/>
                        </select>
                    </div>
                </div>

                <button type="button" class="add-product-btn btn btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-sm">
                    Add
                </button>
            </form>
        </div>
    </body>
</html>