<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: head"/>
    <body class="all-products-bg">
        <nav th:replace="/fragments/navbar :: navbar"/>

        <div class="all-products-title">
            <p class="title">
                All products
            </p>
        </div>

        <table class="table">
            <thead>
                <tr class="all-products-tr">
                    <th scope="col">#</th>
                    <th scope="col">Product name</th>
                    <th scope="col">Price S</th>
                    <th scope="col">Price M</th>
                    <th scope="col">Price L</th>
                    <th scope="col">Weight S</th>
                    <th scope="col">Weight M</th>
                    <th scope="col">Weight L</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr class="all-products-tb-tr" th:each="data : ${dataByProductList}">
                    <th scope="row" th:with="i = ''" th:text="${#ids.seq(i)}"/>
                    <td th:text="${data.getProductName()}"/>
                    <td th:text="${data.getPriceS()}" />
                    <td th:text="${data.getPriceM()}"/>
                    <td th:text="${data.getPriceL()}"/>
                    <td th:text="${data.getWeightS()}"/>
                    <td th:text="${data.getWeightM()}"/>
                    <td th:text="${data.getWeightL()}"/>
                    <td>
                        <div class="dropdown">
                            <button class="all-products-dropdown-btn btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Show description
                            </button>
                            <div class="all-products-dropdown dropdown-menu w-250" aria-labelledby="dropdownMenu2">
                                <p th:text="${data.getDescription()}"/>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>