<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: head"/>
    <body>
        <nav th:replace="/fragments/navbar :: navbar"/>

        <table class="table table-sm mt-1 table-light">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Login</th>
                    <th scope="col">Password</th>
                    <th scope="col">Mail</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Role</th>
                    <th scope="col">Description</th>
                    <th scope="col">Products</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="organizationsList : ${organizations}">
                    <th scope="row" th:with="i = ''" th:text="${#ids.seq(i)}"/>
                    <td th:text="${organizationsList.getOrganizationName()}"/>
                    <td th:text="${organizationsList.getLogin()}"/>
                    <td th:text="${organizationsList.getPassword()}"/>
                    <td th:text="${organizationsList.getMail()}"/>
                    <td th:text="${organizationsList.getPhone()}"/>
                    <td th:text="${organizationsList.getRole()}"/>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Description
                            </button>
                            <div class="dropdown-menu w-250" aria-labelledby="dropdownMenu2">
                                <p th:text="${organizationsList.getDescription()}"/>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products list
                            </button>
                            <div class="dropdown-menu w-250" aria-labelledby="dropdownMenu2">
                                <table class="table table-sm mt-1 table-light">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Product name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="products : ${organizationsList.getProductList()}">
                                            <th scope="row" th:text="${products.getId()}"/>
                                            <td th:text="${products.getProductName()}"/>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>