<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: head"></head>
    <body>
        <nav th:replace="/fragments/navbar :: navbar"/>

        <div class="container">
            <div class="row my-2">
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/img/im.svg}" alt="Card image cap">
                        <div class="card-body">
                            <a href="#" class="btn btn-primary btn-sm btn-block">More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/img/im.svg}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary btn-sm btn-block">More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/img/im.svg}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary btn-sm btn-block">More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/img/im.svg}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary btn-sm btn-block">More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/img/im.svg}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary btn-sm btn-block">More...</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mt-2">
                    <div class="card">
                        <img class="card-img-top" th:src="@{/img/im.svg}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Special title treatment</h5>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary btn-sm btn-block">More...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>