<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="/fragments/header :: head"/>
    <body class="add-product-bg">
        <nav th:replace="/fragments/navbar :: navbar"/>

        <div class="update-products-title">
            <p class="title">
                Update product
            </p>
        </div>

        <div class="container">
            <form class="update-product-form was-validated" method="post" th:action="@{/update_product}">
                <div class="form-row my-4">
                    <div class="update-product-col col-md-4 mb-3">
                        <label class="update-product-label" for="exampleFormControlSelect1">Select a product!</label>
                        <select name="product" class="form-control" id="exampleFormControlSelect1">
                            <option>Choice...</option>
                            <option th:each="product : ${dataByProductList}" th:text="${product.getProductName()}"/>
                        </select>
                    </div>
                </div>

                <button type="submit" class="update-product-btn btn btn-outline-success" data-toggle="modal" data-target=".bd-example-modal-sm">
                    Update
                </button>
            </form>
        </div>
    </body>
</html>